﻿@model IEnumerable<RecruiterProfileScraper.Models.ErrorsModel>

@using System.Threading
@{
    ViewBag.Title = "Home Page";
}

<div style="padding: 50px;">

@using (Html.BeginForm("ProfileScraper", "Home", FormMethod.Get))
{
    <input type="submit" value="Search"/>
}
    
</div>