﻿@model IEnumerable<RecruiterProfileScraper.Models.ErrorsModel>
@{
    ViewBag.Title = "ProfileScraper";
}

<h2>ProfileScraper</h2>

<h2>Email Addresses Found</h2>
@foreach (var item in Model)
{
    <table class="results-table">
        <tr @(item.ContentType == "EmailAddress" ? "" : "style=display:none")>
            <td>
                @item.InvalidItem
            </td>
            <td><a href="@item.PageLink" target="_blank">See on reed.co.uk »</a></td>
        </tr>
    </table>
}

<h2>Telephone Numbers Found</h2>
@foreach (var item in Model)
{
    <table class="results-table">
        <tr @(item.ContentType == "PhoneNumber" ? "" : "style=display:none")>
            <td>
                @item.InvalidItem
            </td>
            <td><a href="@item.PageLink" target="_blank">See on reed.co.uk »</a></td>
        </tr>
    </table>
}

<h2>Web Addresses Found</h2>
@foreach (var item in Model)
{
    <table class="results-table">
        <tr @(item.ContentType == "WebAddress" ? "" : "style=display:none")>
            <td>
                @item.InvalidItem
            </td>
            <td><a href="@item.PageLink" target="_blank">See on reed.co.uk »</a></td>
        </tr>
    </table>
}